#content {
    font-size: 0.95rem;
    max-width: 55rem;
}

.container-fluid {
  max-width: 1000rem;
}

.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  width: 98%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  font-size: 0.7rem;
  
}

element.style {
    border: 1px solid #ddd;
    padding: 5px;
    overflow-x: auto;
    width: 100%;
}